@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/hover.scss" as *;
@use "../config/variables.scss" as *;

.article{
  display: flex;
  flex-direction: column;
  align-items: center;

  @include responsive(laptop) {
    flex-direction: row;
  }

  &-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;

    @include responsive(laptop) {
      flex-direction: row;
      text-align: left;
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }
  &--reverse {
    color: var(--white);
    background-color: var(--black);
    @include responsive(laptop) {
      flex-direction: row-reverse;
     
    }
  }
  &--white{
    background-color: var(--white);
    color: var(--black);
  }
}
