@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/hover.scss" as *;
@use "../config/variables.scss" as *;

.header {
  color: var(--white);
  @include responsive(laptop) {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: auto;
    width: 100%;
  }

  &__top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    color: var(--black);
    background-color: var(--white);
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;

    @include responsive(laptop) {
      position: static;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      height: auto;
      width: 100%;
    }
  }
}
