@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/hover.scss" as *;
@use "../config/variables.scss" as *;
.img {
  position: relative;
  @include responsive(laptop) {
    min-width: 55%;
    &::before {
      display: none;
    }
  }
  &--gradiant {
   
    &::before {
      @include pseudo(128px, 6px);
      background-color: white;
      bottom: -6px;
      left: 33px;
      background: linear-gradient(45deg, #ffc593, #bc7198, #5a77ff);
    }

    
  }
}

.list{
  &__img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    padding-top: 4rem;

    &--limit{
      padding-bottom: 2.5rem;
    }
  }
}

footer{
  &__logo{
    color: var(--white);
  }
}
