@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/hover.scss" as *;
@use "../config/variables.scss" as *;

.title {
  font-size: 3rem;
  margin-top: 0;
  padding-top: 0;
  @include responsive(laptop) {
  font-size: 3.7rem;
  text-transform: uppercase;
  }
}
